{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["clsx", "cn", "twMerge"]
}
