@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
}

/* @utility btn-primary{
  padding: 12px 24px;
  border-radius: 8px
} */

@layer base{
  a{
    @apply text-white text-inherit no-underline
  }

  *{
    @apply text-white p-0 m-0
  }
}
